.tablist-component{
  .close-icon {
    visibility: hidden;
  }
  .nav-link:hover .close-icon {
    visibility: visible;
  }
  .nav-link.active .close-icon {
    visibility: visible;
  }
  .unsaved-icon {
    width: 11px;
    height: 11px;
    display: inline-block;
    background-color: red;
  }
  .unsave.nav-link .close-icon{
    display: none;
  }
  .unsave.nav-link:hover .close-icon{
    display: inline-block;
  }
  .unsave.nav-link:hover .unsaved-icon{
    display: none;
  }
}